*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#050505;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background:#0b0b0b;
  border-bottom:2px solid #00ff88;
  position:sticky;
  top:0;
}

.logo{
  color:white;
}

.logo span{
  color:#00ff88;
}

nav a{
  color:white;
  text-decoration:none;
  margin:0 10px;
  font-size:14px;
}

.buttons button{
  padding:8px 15px;
  border:none;
  border-radius:8px;
  margin-left:5px;
  background:#00ff88;
  color:black;
  font-weight:bold;
}

.signup{
  background:white;
  color:#00aa55;
}

.hero{
  text-align:center;
  padding:80px 20px;
  background:linear
